Repository pooya98/ninemova, pull requests merged in 2024-05, with the labels that each got.

#2 Chore/setting
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/ic_app_logo-playstore.png
  app/src/main/res/drawable/ic_community.xml
  app/src/main/res/drawable/ic_home.xml
  app/src/main/res/drawable/ic_movie.xml
  app/src/main/res/drawable/ic_mypage.xml
  app/src/main/res/drawable/ic_search.xml
  app/src/main/res/font/pretendard_black.otf
  app/src/main/res/font/pretendard_bold.otf
  app/src/main/res/font/pretendard_extrabold.otf
  app/src/main/res/font/pretendard_extralight.otf
  app/src/main/res/font/pretendard_light.otf
  app/src/main/res/font/pretendard_medium.otf
  app/src/main/res/font/pretendard_regular.otf
  app/src/main/res/font/pretendard_semibold.otf
  app/src/main/res/font/pretendard_thin.otf
  app/src/main/res/mipmap-anydpi-v26/ic_app_logo.xml
  app/src/main/res/mipmap-anydpi-v26/ic_app_logo_round.xml
  app/src/main/res/mipmap-hdpi/ic_app_logo.webp
  app/src/main/res/mipmap-hdpi/ic_app_logo_foreground.webp
  app/src/main/res/mipmap-hdpi/ic_app_logo_round.webp
  app/src/main/res/mipmap-mdpi/ic_app_logo.webp
  app/src/main/res/mipmap-mdpi/ic_app_logo_foreground.webp
  app/src/main/res/mipmap-mdpi/ic_app_logo_round.webp
  app/src/main/res/mipmap-xhdpi/ic_app_logo.webp
  app/src/main/res/mipmap-xhdpi/ic_app_logo_foreground.webp
  app/src/main/res/mipmap-xhdpi/ic_app_logo_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_app_logo.webp
  app/src/main/res/mipmap-xxhdpi/ic_app_logo_foreground.webp
  app/src/main/res/mipmap-xxhdpi/ic_app_logo_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_app_logo.webp
  app/src/main/res/mipmap-xxxhdpi/ic_app_logo_foreground.webp
  app/src/main/res/mipmap-xxxhdpi/ic_app_logo_round.webp
  app/src/main/res/values/ic_app_logo_background.xml
Labels: setting

#5 Feat/navigation
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/ninemova/ui/CommunityFragment.kt
  app/src/main/java/com/ninemova/ui/HomeFragment.kt
  app/src/main/java/com/ninemova/ui/LoginActivity.kt
  app/src/main/java/com/ninemova/ui/MainActivity.kt
  app/src/main/java/com/ninemova/ui/MyPageFragment.kt
  app/src/main/java/com/ninemova/ui/RecommendFragment.kt
  app/src/main/java/com/ninemova/ui/SearchFragment.kt
  app/src/main/res/color/navigation_selector_color.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_community.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/fragment_recommend.xml
  app/src/main/res/layout/fragment_search.xml
  app/src/main/res/menu/menu_bottom_nav.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values-v23/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: feat, ui

#8 BaseActivity,BaseFragment 적용 및 Community UI 구현
  app/src/main/java/com/ninemova/domain/data/CommentData.kt
  app/src/main/java/com/ninemova/ui/CommunityFragment.kt
  app/src/main/java/com/ninemova/ui/HomeFragment.kt
  app/src/main/java/com/ninemova/ui/LoginActivity.kt
  app/src/main/java/com/ninemova/ui/MainActivity.kt
  app/src/main/java/com/ninemova/ui/MyPageFragment.kt
  app/src/main/java/com/ninemova/ui/RecommendFragment.kt
  app/src/main/java/com/ninemova/ui/SearchFragment.kt
  app/src/main/java/com/ninemova/ui/base/BaseActivity.kt
  app/src/main/java/com/ninemova/ui/base/BaseFragment.kt
  app/src/main/java/com/ninemova/ui/community/CommentListAdapter.kt
  app/src/main/java/com/ninemova/ui/community/CommunityFragment.kt
  app/src/main/res/drawable/ic_star.png
  app/src/main/res/drawable/ic_test_thumbnail.png
  app/src/main/res/drawable/test_thumbnail.jpg
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_community.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/layout/fragment_recommend.xml
  app/src/main/res/layout/fragment_search.xml
  app/src/main/res/layout/item_comment.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: feat, ui

#11 UI/login
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/ninemova/ui/LoginActivity.kt
  app/src/main/res/drawable/image_logo.png
  app/src/main/res/layout/activity_login.xml
Labels: ui

#14 검색 UI 및 API 연결
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/ninemova/Network/RepositoryUtils.kt
  app/src/main/java/com/ninemova/Network/RetrofitUtils.kt
  app/src/main/java/com/ninemova/Network/api/SearchApi.kt
  app/src/main/java/com/ninemova/Network/repository/MovieRepository.kt
  app/src/main/java/com/ninemova/Network/repositoryimpl/MovieRepositoryImpl.kt
  app/src/main/java/com/ninemova/Network/request/SearchMovieRequest.kt
  app/src/main/java/com/ninemova/Network/response/MovieResult.kt
  app/src/main/java/com/ninemova/Network/response/MoviesResponse.kt
  app/src/main/java/com/ninemova/core/AddHeaderInterceptor.kt
  app/src/main/java/com/ninemova/core/NetworkConst.kt
  app/src/main/java/com/ninemova/core/NineMovaApplication.kt
  app/src/main/java/com/ninemova/domain/data/Comment.kt
  app/src/main/java/com/ninemova/domain/data/Movie.kt
  app/src/main/java/com/ninemova/ui/BindingAdapter.kt
  app/src/main/java/com/ninemova/ui/SearchFragment.kt
  app/src/main/java/com/ninemova/ui/community/CommentListAdapter.kt
  app/src/main/java/com/ninemova/ui/community/CommunityFragment.kt
  app/src/main/java/com/ninemova/ui/search/MovieListAdapter.kt
  app/src/main/java/com/ninemova/ui/search/SearchFragment.kt
  app/src/main/java/com/ninemova/ui/search/SearchUiState.kt
  app/src/main/java/com/ninemova/ui/search/SearchViewEvent.kt
  app/src/main/java/com/ninemova/ui/search/SearchViewModel.kt
  app/src/main/java/com/ninemova/ui/util/ErrorMessage.kt
  app/src/main/res/drawable/ic_cancel.xml
  app/src/main/res/layout/fragment_search.xml
  app/src/main/res/layout/item_comment.xml
  app/src/main/res/layout/item_movie.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/strings.xml
Labels: feat, ui

#15 Feat/home
  app/build.gradle.kts
  app/src/main/java/com/ninemova/ui/BindingAdapter.kt
  app/src/main/java/com/ninemova/ui/HomeFragment.kt
  app/src/main/java/com/ninemova/ui/adapter/CommentListAdapter.kt
  app/src/main/java/com/ninemova/ui/adapter/MovieListAdapter.kt
  app/src/main/java/com/ninemova/ui/adapter/TopMovieListAdapter.kt
  app/src/main/java/com/ninemova/ui/community/CommunityFragment.kt
  app/src/main/java/com/ninemova/ui/home/HomeFragment.kt
  app/src/main/java/com/ninemova/ui/search/SearchFragment.kt
  app/src/main/res/drawable/image_movie_poster.png
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/item_movie.xml
  app/src/main/res/layout/item_top_movie.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: ui

#18 영상 디테일 화면 구현
  app/src/main/java/com/ninemova/ui/detail/DetailFragment.kt
  app/src/main/res/drawable/ic_adult.png
  app/src/main/res/drawable/ic_edit.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_detail.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Labels: feat, ui

#20 Feat/my page
  app/src/main/java/com/ninemova/ui/myPage/MyPageFragment.kt
  app/src/main/res/drawable/background_tv_item.xml
  app/src/main/res/drawable/background_tv_title.xml
  app/src/main/res/drawable/image_user.png
  app/src/main/res/layout/fragment_my_page.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: ui

#21 상세 페이지 데이터 연결, 장르 API 구현
  app/build.gradle.kts
  app/src/main/java/com/ninemova/Network/RepositoryUtils.kt
  app/src/main/java/com/ninemova/Network/RetrofitUtils.kt
  app/src/main/java/com/ninemova/Network/api/GenreApi.kt
  app/src/main/java/com/ninemova/Network/repository/GenreRepository.kt
  app/src/main/java/com/ninemova/Network/repositoryimpl/GenreRepositoryImpl.kt
  app/src/main/java/com/ninemova/Network/repositoryimpl/MovieRepositoryImpl.kt
  app/src/main/java/com/ninemova/Network/response/GenresResponse.kt
  app/src/main/java/com/ninemova/domain/data/Genre.kt
  app/src/main/java/com/ninemova/domain/data/Movie.kt
  app/src/main/java/com/ninemova/ui/BindingAdapter.kt
  app/src/main/java/com/ninemova/ui/adapter/MovieListAdapter.kt
  app/src/main/java/com/ninemova/ui/detail/DetailFragment.kt
  app/src/main/java/com/ninemova/ui/detail/DetailUiState.kt
  app/src/main/java/com/ninemova/ui/detail/DetailViewModel.kt
  app/src/main/java/com/ninemova/ui/search/SearchFragment.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_detail.xml
  app/src/main/res/layout/item_movie.xml
  app/src/main/res/navigation/nav_graph.xml
  build.gradle.kts
Labels: feat, ui, enhance

#23 UI/recommend
  app/src/main/java/com/ninemova/ui/RecommendFragment.kt
  app/src/main/java/com/ninemova/ui/adapter/RecommendMovieListAdapter.kt
  app/src/main/java/com/ninemova/ui/recommend/RecommendFragment.kt
  app/src/main/res/drawable/selector_radio_button.xml
  app/src/main/res/drawable/selector_radio_text.xml
  app/src/main/res/layout/fragment_recommend.xml
  app/src/main/res/layout/item_recommend_movie.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: ui

#25 유튜브 API를 이용한 동영상 재생
  app/build.gradle.kts
  app/src/main/java/com/ninemova/Network/RepositoryUtils.kt
  app/src/main/java/com/ninemova/Network/RetrofitUtils.kt
  app/src/main/java/com/ninemova/Network/api/YoutubeApi.kt
  app/src/main/java/com/ninemova/Network/repository/YoutubeRepository.kt
  app/src/main/java/com/ninemova/Network/repositoryimpl/MovieRepositoryImpl.kt
  app/src/main/java/com/ninemova/Network/repositoryimpl/YoutubeRepositoryImpl.kt
  app/src/main/java/com/ninemova/Network/response/youtube/Id.kt
  app/src/main/java/com/ninemova/Network/response/youtube/PageInfo.kt
  app/src/main/java/com/ninemova/Network/response/youtube/SearchResult.kt
  app/src/main/java/com/ninemova/Network/response/youtube/Size.kt
  app/src/main/java/com/ninemova/Network/response/youtube/Snippet.kt
  app/src/main/java/com/ninemova/Network/response/youtube/Thumbnails.kt
  app/src/main/java/com/ninemova/Network/response/youtube/YoutubeSearchResponse.kt
  app/src/main/java/com/ninemova/core/AddHeaderInterceptor.kt
  app/src/main/java/com/ninemova/core/NetworkConst.kt
  app/src/main/java/com/ninemova/core/NineMovaApplication.kt
  app/src/main/java/com/ninemova/domain/data/Movie.kt
  app/src/main/java/com/ninemova/ui/detail/DetailFragment.kt
  app/src/main/java/com/ninemova/ui/detail/DetailUiState.kt
  app/src/main/java/com/ninemova/ui/detail/DetailViewEvent.kt
  app/src/main/java/com/ninemova/ui/detail/DetailViewModel.kt
  app/src/main/java/com/ninemova/ui/search/SearchFragment.kt
  app/src/main/java/com/ninemova/ui/util/ErrorMessage.kt
  app/src/main/res/layout/fragment_detail.xml
Labels: feat

#27 ui/mypage
  app/build.gradle.kts
  app/src/main/java/com/ninemova/ui/myPage/MyPageFragment.kt
  app/src/main/res/layout/fragment_my_page.xml
Labels: ui

#30 스프링 초기 세팅 및 SignUpApi 구현
  Server/ninemova/build.gradle.kts
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/controller/UserController.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/dto/User.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/UserService.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/UserServiceImpl.kt
Labels: feat, setting

#33 댓글 CRUD Api 구현
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/controller/CommentController.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/controller/UserController.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/dto/Comment.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/repository/CommentRepository.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/CommentService.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/CommentServiceImpl.kt
Labels: feat, Server

#35 회원가입 페이지 및 네비게이션 설정
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/LoginActivity.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/LoginFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/SignUpFragment.kt
  Android/ninemova/app/src/main/res/layout/activity_login.xml
  Android/ninemova/app/src/main/res/layout/fragment_login.xml
  Android/ninemova/app/src/main/res/layout/fragment_sign_up.xml
  Android/ninemova/app/src/main/res/navigation/nav_graph_login.xml
  Android/ninemova/app/src/main/res/values/colors.xml
  Android/ninemova/app/src/main/res/values/strings.xml
Labels: feat, ui, Android

#38 회원가입 API 구현 및 회원가입 UI 이벤트 처리
  Android/ninemova/app/src/main/java/com/ninemova/Network/RepositoryUtils.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/RetrofitUtils.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/api/UserApi.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repository/UserRepository.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/UserRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/request/SignUpRequest.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/SignUpResponse.kt
  Android/ninemova/app/src/main/java/com/ninemova/core/NineMovaApplication.kt
  Android/ninemova/app/src/main/java/com/ninemova/domain/data/User.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/BindingAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/SignUpFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/signup/SignUpFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/signup/SignUpUiState.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/signup/SignUpViewEvent.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/signup/SignUpViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/util/ErrorMessage.kt
  Android/ninemova/app/src/main/res/layout/fragment_sign_up.xml
  Android/ninemova/app/src/main/res/navigation/nav_graph_login.xml
  Android/ninemova/app/src/main/res/values/colors.xml
  Android/ninemova/app/src/main/res/values/strings.xml
Labels: feat, ui, Android

#39 feat/MyPage
  Android/ninemova/app/build.gradle.kts
  Android/ninemova/app/src/main/java/com/ninemova/Network/RepositoryUtils.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/RetrofitUtils.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/api/OpenAiApi.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repository/OpenAiRepository.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/OpenAiRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/request/openai/OpenAIRequest.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/openai/AnalysisResult.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/openai/AnswerBody.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/openai/Choice.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/openai/Message.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/openai/OpenAIResponse.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/openai/ResultElement.kt
  Android/ninemova/app/src/main/java/com/ninemova/core/NineMovaApplication.kt
  Android/ninemova/app/src/main/java/com/ninemova/domain/data/PieChartItem.kt
  Android/ninemova/app/src/main/java/com/ninemova/domain/data/UserTag.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/BindingAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/adapter/PieChartLabelListAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/adapter/UserTagListAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/myPage/MyPageFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/myPage/MyPageViewModel.kt
  Android/ninemova/app/src/main/res/layout/fragment_my_page.xml
  Android/ninemova/app/src/main/res/layout/item_piechart_label.xml
  Android/ninemova/app/src/main/res/layout/item_user_tag.xml
  Android/ninemova/app/src/main/res/values/colors.xml
Labels: feat, Android

#42 좋아요 CRUD 및 좋아요 영화 리스트 반환
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/controller/CommentController.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/controller/FavoriteMovieController.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/dto/FavoriteMovie.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/repository/CommentRepository.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/repository/FavoriteMovieRepository.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/CommentService.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/CommentServiceImpl.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/FavoriteMovieService.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/FavoriteMovieServiceImpl.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/UserServiceImpl.kt
Labels: feat, Server

#44 자동 로그인 구현 및 DataStore 적용
  Android/ninemova/app/build.gradle.kts
  Android/ninemova/app/src/main/AndroidManifest.xml
  Android/ninemova/app/src/main/java/com/ninemova/Network/RepositoryUtils.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repository/LocalDataStoreRepository.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/LocalDataStoreRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/core/NineMovaApplication.kt
  Android/ninemova/app/src/main/java/com/ninemova/domain/data/User.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/LoginActivity.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/LoginFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/LoginUiState.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/LoginViewEvent.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/LoginViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/SplashViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/signup/SignUpFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/signup/SignUpViewEvent.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/signup/SignUpViewModel.kt
  Android/ninemova/app/src/main/res/layout/fragment_login.xml
  Android/ninemova/app/src/main/res/layout/fragment_sign_up.xml
  Android/ninemova/app/src/main/res/values/themes.xml
Labels: feat, ui, Android

#48 댓글 작성 API, 댓글 리스트 API, 댓글 작성 다이얼로그 구현
  Android/ninemova/app/build.gradle.kts
  Android/ninemova/app/src/main/java/com/ninemova/Network/RepositoryUtils.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/RetrofitUtils.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/api/CommentApi.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/api/SearchApi.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/api/UserApi.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repository/CommentRepository.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/CommunityRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/MovieRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/UserRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/request/CommentRequest.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/CommentsResponse.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/GenreResponse.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/UserResponse.kt
  Android/ninemova/app/src/main/java/com/ninemova/core/NineMovaApplication.kt
  Android/ninemova/app/src/main/java/com/ninemova/domain/data/Comment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/BindingAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/community/CommunityFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/community/CommunityUiState.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/community/CommunityViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/detail/DetailFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/detail/InsertCommentDialog.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/SplashViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/signup/SignUpViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/util/ErrorMessage.kt
  Android/ninemova/app/src/main/res/layout/dialog_insert_comment.xml
  Android/ninemova/app/src/main/res/layout/fragment_community.xml
  Android/ninemova/app/src/main/res/layout/fragment_sign_up.xml
  Android/ninemova/app/src/main/res/layout/item_comment.xml
  Android/ninemova/app/src/main/res/navigation/nav_graph.xml
  Android/ninemova/app/src/main/res/values/strings.xml
  Android/ninemova/build.gradle.kts
  Android/ninemova/settings.gradle.kts
Labels: feat, ui, chore, Android

#51 feat/home
  Android/ninemova/app/src/main/java/com/ninemova/Network/api/SearchApi.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repository/MovieRepository.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/MovieRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/request/SearchNowPlayingMoviesRequest.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/request/SearchPopularMoviesRequest.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/BindingAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/adapter/TopMovieListAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/home/HomeFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/home/HomeUiState.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/home/HomeViewEvent.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/home/HomeViewModel.kt
  Android/ninemova/app/src/main/res/layout/fragment_home.xml
  Android/ninemova/app/src/main/res/layout/item_top_movie.xml
Labels: feat, ui, Android

#53 네비게이션 , MyPage 버그 해결
  Android/ninemova/app/src/main/java/com/ninemova/ui/myPage/MyPageFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/myPage/MyPageViewModel.kt
  Android/ninemova/app/src/main/res/navigation/nav_graph.xml
Labels: bug, fix, Android

#56 최근 댓글 5개 불러오기 Api 구현
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/controller/CommentController.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/repository/CommentRepository.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/CommentService.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/CommentServiceImpl.kt
Labels: feat, Server

#57 feat/myPage
  Android/ninemova/app/src/main/java/com/ninemova/ui/myPage/MyPageViewModel.kt
  Android/ninemova/app/src/main/res/layout/fragment_my_page.xml
Labels: feat, ui, Android

#62 답글 작성 API 구현
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/controller/ReplyController.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/dto/Reply.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/repository/ReplyRepository.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/ReplyService.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/ReplyServiceImpl.kt
Labels: feat, Server

#63 feat/home
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/MovieRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/BindingAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/adapter/HomeCommentListAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/home/HomeFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/home/HomeUiState.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/home/HomeViewModel.kt
  Android/ninemova/app/src/main/res/layout/fragment_home.xml
  Android/ninemova/app/src/main/res/layout/item_comment_home.xml
  Android/ninemova/app/src/main/res/layout/item_movie.xml
  Android/ninemova/app/src/main/res/layout/item_top_movie.xml
  Android/ninemova/app/src/main/res/navigation/nav_graph.xml
Labels: feat, ui, Android

#67 feat/search
  Android/ninemova/app/src/main/java/com/ninemova/ui/search/SearchViewModel.kt
  Android/ninemova/app/src/main/res/layout/fragment_search.xml
Labels: feat, Android

#70 게시글 댓글 작성, 리스트 API 구현
  Android/ninemova/app/src/main/java/com/ninemova/Network/RepositoryUtils.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/RetrofitUtils.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/api/ReplyApi.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/api/UserApi.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repository/ReplyRepository.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repository/UserRepository.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/ReplyRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/UserRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/request/ReplyRequest.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/ReplyResponse.kt
  Android/ninemova/app/src/main/java/com/ninemova/domain/data/Comment.kt
  Android/ninemova/app/src/main/java/com/ninemova/domain/data/Reply.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/BindingAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/adapter/ReplyListAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/post/PostFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/post/PostUiState.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/post/PostViewEvent.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/post/PostViewModel.kt
  Android/ninemova/app/src/main/res/layout/fragment_post.xml
  Android/ninemova/app/src/main/res/layout/item_reply.xml
Labels: feat, Android

#72 로딩 다이얼로그 구현 및 적용
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/OpenAiRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/BindingAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/dialog/InsertCommentDialog.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/dialog/LoadingDialog.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/recommend/RecommendFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/recommend/RecommendUiState.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/recommend/RecommendViewEvent.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/recommend/RecommendViewModel.kt
  Android/ninemova/app/src/main/res/layout/dialog_loading.xml
  Android/ninemova/app/src/main/res/layout/fragment_my_page.xml
  Android/ninemova/app/src/main/res/navigation/nav_graph.xml
  Android/ninemova/app/src/main/res/values/strings.xml
Labels: feat, ui, Android

#76 좋아요 삭제, 수정, 검색 API 수정
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/controller/FavoriteMovieController.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/repository/FavoriteMovieRepository.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/FavoriteMovieService.kt
  Server/ninemova/src/main/kotlin/com/ninemova/ninemova/service/FavoriteMovieServiceImpl.kt
Labels: feat, Server

#74 feat/home
  Android/ninemova/app/src/main/java/com/ninemova/Network/api/CommentApi.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repository/CommentRepository.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/CommunityRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/home/HomeFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/home/HomeViewModel.kt
  Android/ninemova/app/src/main/res/layout/item_comment_home.xml
  Android/ninemova/app/src/main/res/navigation/nav_graph.xml
Labels: feat, ui, Android

#78 좋아요 API 구현
  Android/ninemova/app/src/main/java/com/ninemova/Network/RepositoryUtils.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/RetrofitUtils.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/api/FavoriteApi.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repository/FavoriteRepository.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/FavoriteRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/request/FavoriteRequest.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/response/FavoriteResponse.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/BindingAdapter.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/detail/DetailFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/detail/DetailUiState.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/detail/DetailViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/util/ErrorMessage.kt
  Android/ninemova/app/src/main/res/drawable/ic_favorite.xml
  Android/ninemova/app/src/main/res/drawable/ic_unfavorite.xml
  Android/ninemova/app/src/main/res/layout/fragment_detail.xml
Labels: feat, Android

#82 fix(#81): Navigation_Graph 버그 해결
  Android/ninemova/app/src/main/res/navigation/nav_graph.xml
Labels: fix, Android

#85 마이페이지 즐겨찾기한 영화 리스트 불러오기 및 ChatGpt 이벤트 핸들링
  Android/ninemova/app/src/main/java/com/ninemova/Network/api/FavoriteApi.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repository/FavoriteRepository.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/FavoriteRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/Network/repositoryimpl/OpenAiRepositoryImpl.kt
  Android/ninemova/app/src/main/java/com/ninemova/core/NineMovaApplication.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/login/LoginFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/myPage/MyPageFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/myPage/MyPageViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/recommend/RecommendFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/recommend/RecommendViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/search/SearchFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/util/ErrorMessage.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/util/PromptMessage.kt
  Android/ninemova/app/src/main/res/drawable/ic_adult.png
  Android/ninemova/app/src/main/res/layout/activity_login.xml
  Android/ninemova/app/src/main/res/layout/fragment_community.xml
  Android/ninemova/app/src/main/res/layout/fragment_detail.xml
  Android/ninemova/app/src/main/res/layout/fragment_home.xml
  Android/ninemova/app/src/main/res/layout/fragment_login.xml
  Android/ninemova/app/src/main/res/layout/fragment_my_page.xml
  Android/ninemova/app/src/main/res/layout/fragment_post.xml
  Android/ninemova/app/src/main/res/layout/fragment_recommend.xml
  Android/ninemova/app/src/main/res/layout/fragment_search.xml
  Android/ninemova/app/src/main/res/layout/item_comment.xml
  Android/ninemova/app/src/main/res/layout/item_comment_home.xml
  Android/ninemova/app/src/main/res/layout/item_movie.xml
  Android/ninemova/app/src/main/res/layout/item_recommend_movie.xml
  Android/ninemova/app/src/main/res/layout/item_reply.xml
  Android/ninemova/app/src/main/res/values/themes.xml
Labels: fix, feat, ui, Android

#86 주기적 새로고침 tickerFlow 구현
  Android/ninemova/app/src/main/java/com/ninemova/ui/community/CommunityViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/home/HomeViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/post/PostViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/util/FlowExtension.kt
  Android/ninemova/app/src/main/res/layout/fragment_my_page.xml
  Android/ninemova/app/src/main/res/layout/item_comment_home.xml
Labels: feat, Android

#89 5월 22일 버그 해결
  Android/ninemova/app/src/main/AndroidManifest.xml
  Android/ninemova/app/src/main/java/com/ninemova/ui/myPage/MyPageFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/myPage/MyPageViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/recommend/RecommendFragment.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/recommend/RecommendUiState.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/recommend/RecommendViewEvent.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/recommend/RecommendViewModel.kt
  Android/ninemova/app/src/main/java/com/ninemova/ui/util/PromptMessage.kt
  Android/ninemova/app/src/main/res/layout/fragment_detail.xml
  Android/ninemova/app/src/main/res/layout/fragment_my_page.xml
  Android/ninemova/app/src/main/res/layout/fragment_post.xml
  Android/ninemova/app/src/main/res/layout/fragment_recommend.xml
  Android/ninemova/app/src/main/res/layout/item_comment.xml
  Android/ninemova/app/src/main/res/layout/item_reply.xml
  Android/ninemova/app/src/main/res/navigation/nav_graph.xml
  Android/ninemova/app/src/main/res/values-v31/themes.xml
Labels: fix, refactor, feat, ui, Android
